#sistema {
    height: 100vh;
    display: grid;
    grid-template-areas: "sistema-aside sistema-header" "sistema-aside sistema-main" "sistema-aside sistema-footer";
    grid-template-rows: 90px 1fr 90px;
    grid-template-columns: 230px 1fr;
}

.sistema-header {
    grid-area: sistema-header;
    background: linear-gradient(to left, #508ae5, #2b95e5, #009ee1, #00a5da, #00acd2, #17adce, #27afc9, #33b0c5, #32aec4, #30acc4, #2faac3, #2ea8c2);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user-dropdown {
    position: relative;
    height: 100%;
    margin-right: 20px;
}
.user-button {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 100;
    height: 100%;
    padding: 0px 20px;
}
.user-dropdown:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.user-dropdown-img {
    margin: 0px 10px;
}
.user-dropdown-img > img {
    max-height: 37px;
    border-radius: 5px;
}
.user-dropdown-content {
    position: absolute;
    right: 0px;
    background-color: #f9f9f9;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.user-dropdown:hover .user-dropdown-content {
    visibility: visible;
    opacity: 1;
}
.user-dropdown-content a {
    text-decoration: none;
    color: #000;
    padding: 10px;
}
.user-dropdown-content a:hover {
    text-decoration: none;
    color: #000;
    background-color: #ddd;
}

.user-avatar {
    vertical-align: middle;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin-left: 10px;
  }

.sistema-aside {
    grid-area: sistema-aside;
    background: radial-gradient(circle, #041021, #071323, #091525, #0b1728, #0d192a);
}

.sistema-aside-title {
    height: 90px;
    border-bottom: 1px solid #DDD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sistema-aside-logo {
    height: 140px;
    width: 140px;
}

.valid-field  {
    border: 1px solid red;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    display: flex;
    flex-direction: column;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: rgb(76, 139, 175);
    color: white;
}

.sistema-main {
    grid-area: sistema-main;
    background: linear-gradient(to left, #cccdcf, #ccccce, #ccccce, #cbcbcd, #cbcbcc, #cdcdcd, #cececf, #d0d0d0, #d4d4d4, #d8d8d8, #dddddd, #e1e1e1);
    height: calc(100vh - 180px);
    padding: 20px;
}

.table th {
    text-align: center;
  }

.table td {
    text-align: center;
  }

.sistema-content {
    position: relative;
    height: 100%;
    background-color: #FFF;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
}

.sistema-footer {
    grid-area: sistema-footer;
    background: linear-gradient(to left, #508ae5, #2b95e5, #009ee1, #00a5da, #00acd2, #17adce, #27afc9, #33b0c5, #32aec4, #30acc4, #2faac3, #2ea8c2);
}